* {
	
}

.table {
	border-collapse: collapse;
	height: 100%; 
	align-content: center;
	
	width:100%;
}


.centerPageElements {
	min-width: 280px;
	
}

.radio-inline label {
    font-size: 10px;
    padding-left:3px;
}

.checkbox-inline, .radio-inline {
	padding-left:3px;
	vertical-align: top;
	padding-right: 8px;	
}

.table-header {
	text-align: left;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
	max-width: 120px;
	padding-left: 20px;
}

.table-odd-row {
	text-align: center;
	background-color: #f2f2f2;
	border-bottom: 1px solid #BBBBBB;
}

.table-even-row {
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #BBBBBB;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

.parent {
	overflow-y: hidden;
	overflow-x: scroll;
	max-width: 1000px;
}	

.child {
	height: 100%;
	/*margin-right: -50px; /* maximum width of scrollbar */
	/*padding-right: 50px; /* maximum width of scrollbar */
}


.topicColumn {
	max-width: 350px;
	min-width: 20px;
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

.userColumn {
	max-width: 200px;
	min-width: 80px;
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

.userRow {
	height:40px;
}

.userColumnButtons {
	min-width: 220px;
	overflow: hidden;
	text-align: right;
	padding-left: 10px;
	vertical-align: middle;
}

.userColumnPlaceholder {
	max-width:10px;
}]

.messageStyleClassVP {
	text-align: center;
	list-style: none;
	list-style-type: none;
	width: 70%;
	margin: auto;
	padding-left: 0;
	margin-bottom: 20px;
}

.infoMessageVP {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	*display: inline; /*IE7*/
	*zoom: 1; /*IE7*/
	background: #990000;
	color: white;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.errorMessageVP {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	*display: inline; /*IE7*/
	*zoom: 1; /*IE7*/
	background: #3366cc;
	color: white;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

