.table {
	border-collapse:collapse;		
}

.table-header {
	text-align: left;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
	max-width: 120px;
	overflow: hidden;
	padding-left: 20px;
}

.table-odd-row {
	text-align: center;
	background-color: #f2f2f2;
	border-bottom: 1px solid #BBBBBB;
}

.table-even-row {
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #BBBBBB;
}

.userColumn {
	max-width: 120px;
	overflow: hidden;
	text-align:left;
	padding-left: 20px;
}

