* {
    
  }

.table {
	border-collapse: collapse;
	display: block;
	overflow: scroll;
	align-content: center;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #bfbfbf;
}


.table-header {
	text-align: left;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
	max-width: 120px;
	overflow: hidden;
	padding-left: 20px;
}

.table-odd-row {
	text-align: center;
	background-color: #f2f2f2;
	border-bottom: 1px solid #BBBBBB;
}

.table-even-row {
	text-align: center;
	background-color: #ffffff;
	border-bottom: 1px solid #BBBBBB;
}

.userColumn {
	max-width: 120px;
	overflow: hidden;
	text-align: left;
	padding-left: 20px;
	vertical-align: center;
}

.messageStyleClassVP {
	text-align: center;
	list-style: none;
	list-style-type: none;
	width: 70%;
	margin: auto;
	padding-left: 0;
	margin-bottom: 20px;
}

.infoMessageVP {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	*display: inline; /*IE7*/
	*zoom: 1; /*IE7*/
	background: #990000;
	color: white;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.errorMessageVP {
	text-align: center;
	list-style-type: none;
	display: inline-block;
	*display: inline; /*IE7*/
	*zoom: 1; /*IE7*/
	background: #3366cc;
	color: white;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
}